# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/
*.swp

# Project specific
dummy.pdf
annotator_settings.json
*.pdf.tmp
*.tmp
*.pdf.repaired.pdf
